p {
  max-width: 65ch;
	color: var(--color-mid-dark);
}

ul {
	display: block;
}

ul li {
	color: var(--color-mid-dark);
	word-wrap: break-word;
	max-width: 65ch;
}


blockquote {
	font-size: var(--step--1);
	--padding-block: 1rem;
	--padding-inline: 1.25rem;
	--color: var(--color-dark);

	display: flex;
	flex-direction: column;

	padding: var(--padding-block) var(--padding-inline);
	margin-left: calc(var(--padding-inline) * -1);
	margin-right: calc(var(--padding-inline) * -1);

	background: var(--color-light-shade);
	border-left: calc(var(--padding-inline) / 2) solid var(--color);
	border-radius: 0;
}

blockquote .source {
	font-weight: 500;
	color: var(--color);
	font-size: 1rem;
}

/* Typography */
:is(h1, h2, h3, h4, h5, h6) {
	/* margin-bottom: 1.38rem; */
	margin-bottom: var(--space-xs);
	font-weight: 400;
	line-height: 1.3;
}

:is(h2, h3):not(:first-child) {
	margin-top: 3rem;
}

small,
.text_small {
	font-size: 0.833rem;
}

a > code {
	position: relative;
	color: var(--theme-accent);
	background: transparent;
	text-underline-offset: var(--padding-block);
}

a > code::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background: var(--theme-accent);
	opacity: var(--theme-accent-opacity);
	border-radius: var(--border-radius);
}


pre {
	position: relative;
	--padding-block: 1rem;
	--padding-inline: 2rem;
	padding: var(--padding-block) var(--padding-inline);
	padding-right: calc(var(--padding-inline) * 2);

	overflow-y: hidden;
	overflow-x: auto;
}



@media (min-width: 37.75em) {
	pre {
		--padding-inline: 1.25rem;
		border-radius: 8px;
	}
}

.flex {
	display: flex;
	align-items: center;
}

p > img {
  display: block;
	max-width: 100%;
}

p img {
  display: block;
  max-width: 100%;
}

img.cover {
	width: 100%;
	max-height: 50vh;
	object-fit: cover;
}

.post h2 {
	position: relative;
}

.post h1, .post h2, .post h3 {
	color: var(--color-dark-glare);
}

.post h2, .post h3 {
	--flow-space: .5em;
	font-family: var(--font-serif);
}

.post h2 a, .post h3 a {
	text-decoration: none;
}

.post a {
	text-underline-offset: 0.08em;
	gap: 0.5rem;
	text-decoration: underline;

	color: var(--link-fg);
}

.post {

	hyphens: auto;
	overflow-wrap: break-word;
	word-break: break-word;

	h1 {
		font-family: var(--font-serif);
	}

	& a:hover,
	a:focus {
		text-decoration: underline;
	}

	& a:focus {
		outline: 2px solid currentColor;
		outline-offset: 0.25em;
	}
}

.post table {
  border-collapse: collapse;
}

.post tr, td {
  border: 1px solid black;
}

/* .post thead th { width: 80%; } */
.post table { width: 100%; }

.post thead th { text-align: left; }

.post tbody tr td:nth-last-child(1) {
		width: 35%;
}
.post td {
		line-height: 200%;
		font-size: var(--step--1);
}

.post tbody tr:nth-child(odd) {
  background-color: #fff;
}

.post tbody tr:nth-child(even) {
  background-color: var(--color-primary-glare);
}

.product-image {
	width: 100%;
	max-width: 89%;
	max-width: fit-content;
	max-height: 650px;
	border-radius: 12px;
	object-fit: contain;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.1);
}

/* SPECIFICS */
.video-embed {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
}
