body {
  background: var(--color-light);
  background: var(--background);
  color: var(--text-color);
  line-height: var(--lh160);

  font-size: var(--size-base);
  font-family: var(--font-body);

  font-weight: 400;
  display: flex;
  flex-direction: column;

  transition: background 1s ease;
}

::selection {
  background: var(--text-color);
  color: var(--background);
}

a {
  color: currentColor;
  text-decoration-color: var(--color-secondary);
  text-underline-offset: 1px;
  text-decoration: none;
}

a:hover {
    color: var(--color-secondary);
    text-decoration-color: #1c2334;
    text-underline-offset: 2px;
}

p > a {
  text-decoration: underline;
}

.text-1 { font-size: var(--step--1); }
.text-2 { font-size: var(--step--2); }
.text-3 { font-size: var(--step-0); }
.text-4 { font-size: var(--step-1); }
.text-5 { font-size: var(--step-2); }
.text-6 { font-size: var(--step-3); }
.text-7 { font-size: var(--step-4); }
.text-8 { font-size: var(--step-5); }
.text-9 { font-size: var(--step-6); }

.tac { text-align: center; }


.hover-underline {
  position: relative;
  display: inline-block;
  font-weight: 400;
}

.hover-underline::before {
  --h-underline-space: -.1rem;
  position: absolute;
  bottom: var(--h-underline-space, -0.2rem);
  left: 0;
  width: 100%;
  height: 0.05rem;
  background-color: var(--color-accent);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform var(--t);
  content: "";
}

.hover-underline:hover::before {
    transform-origin: left;
    transform: scaleX(1)
}

@media (hover: none) {
    .hover-underline:hover::before {
        transform:scaleX(0)
    }
}


h1 {
  font-size: var(--step-5);
  max-width: 22ch;
}

h2 {
  font-size: var(--step-3);
  max-width: 30ch;
}

h3 {
  font-size: var(--step-1);
  line-height: 1.2;
  max-width: 40ch;
}

:is(h1, h2, h3) {
  gap: 1ch;
  font-weight: 700;
  line-height: 1.2;
}

:is(h1, h2, h3) check-mark {
  margin-inline-start: -0.5ch;
}

.bg-primary {
  background: var(--color-primary);
}

.txt-dark {
  color: var(--color-dark);
}

.txt-light {
  color: white;
}

.bg-light-shade {
  background: var(--color-light-shade);
}

.bg-secondary {
  background: var(--color-secondary);
}

.font-serif {
  font-family: var(--font-serif);
}

hr {
  border: none;
  border-top: 1px solid #c2c5cc;
  margin: var(--step-1) 0;
  max-width: 55rem;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}
