---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import AboutSection from '../components/AboutSection.astro';
---

<html>
    <BaseHead title="about dripping coffee" description="Dripping Coffee | How this blog has started and why you should join me along"/>
    <Header />
    <article class="wrapper">
        <AboutSection />
        <div class="contact tac text-400 pb-s-l">
            <h3>Contact Us</h3>
            <p>
                If you'd like to contact us for collaboration, for sharing a story or anything at all, please, send us an email at <a href="mailto:boristofu@gmail.com">boristofu@gmail.com</a>
            </p>
        </div>
    </article>

    <Footer />
</html>

<style>

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

</style>