---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

let description = `Dripping Coffee | Reviews, Guides & Personal Home Brewing Experience | Contact Us`;
let headline = `Say Hello!`
---

<html lang="he-il">
    <head>
        <BaseHead title="contact us" description={description} />
    </head>

    <body>
        <Header />
        <main class="content wrapper region">
            <!-- Hero -->
            <section class="intro flow">
                <!-- Insert Logo Here Centered  -->
                <h1 class="text-1000 tac weight-bold" data-headline-big>{headline}</h1>
                <p>
                    We are thrilled to have you visit our website and we
                    would love to hear from you! If you have any questions,
                    comments, or suggestions, please feel free to drop us a
                    message. Just send us an email at <strong
                        >boristofu@gmail.com</strong
                    >
                </p>
                <p>
                    We are also open to collaborations and relevant business
                    offers, so if you have an idea in mind, don't hesitate
                    to reach out to us. We are always on the lookout for
                    exciting partnerships that can benefit our community and
                    further our mission to spread the love of coffee around
                    the globe.
                </p>

                <p>
                    We'd like to remind you, this site is run by us and only
                    us, a coffee-hobbyist couple who fell in love with
                    brewing coffee at home. We're new at this!
                    <br />
                    So, we'd like to do the best we can and we'd like your ideas
                    and comments on how to make it better, as far as content
                    ideas, as well as making the website more user-friendly,
                    etc. Mind you, this website is coded from the ground up because,
                    well, why not? Thank you for your interest in our website,
                    and we look forward to hearing from you soon!
                </p>
                <p>
                    We're also running an experimental Instagram channel, so
                    show us some love <a
                        href="https://instagram.com/dripping_coffee_"
                        >there</a
                    >.
                </p>
                <p><small>disclaimer: I developed this website by hand, using technologies like <a href="https://astro.build" target="_blank">Astro</a> and I'm super proud of it. I hope you like it.</small> </p>
                <p>
                    Best regards,
                    <br />
                    Dripping Coffee.
                </p>
            </section>

            <a class="button-wrapper" href="/">
                <button>back to site</button>
            </a>
        </main>
        <Footer />
        <style lang="scss">
            main {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            button {
                padding: 10px 20px;
                border-radius: 8px;
                width: 200px;
                margin: 0 auto;
                box-shadow: 4px 4px 0 rgba(210, 80, 80, 1);
                transition: all 300ms;
                cursor: pointer;
                font-weight: 700;
            }

            button:hover {
                box-shadow: 4px 4px 0 rgba(40, 40, 80, 1);
            }

            .button-wrapper {
                display: grid;
                text-decoration: none;
                justify-content: center;
            }
        </style>
    </body>
</html>
