<section class="wrapper region flow">
    <h1 class="tac text-800">About The Dripping Coffee Experience</h1>
    <div class="flow region">
        <div class="[ about ] [ flow text-500 ]">

            <h3 class="weigh-bold font-serif">A little backstory</h3>
            <p>
                My coffee affair started as a typical upgrade from instant coffee we were used to consume at home.
                The upgrade was made possible thanks to my Mother, who gave us a Nespresso Latissima Touch. Had she known
                it'd bring upon a severe case of upgraditis, she'd certainly choose another gift. Soon, we'd enjoy the 
                experience of making beautiful and delicious (not so sure about that now) coffee as well as hosting family
                and friends over.
            </p>

            <p>
                After about a year of indulging in this hobby and buying all sorts of Nespresso pods, the Latissima had broken.
                We were back our previous state: Instant Coffee. Obviously, it was merely a matter of time.
            </p>
            <p>

                This time, I wanted to ugprade the experience even more. After what seemed to be thousands of hours spent online, lurking
                forums, YouTube, and reviews, we invested ina Gaggia Classic Pro paired with a dedicated grinder.
                This machine was a game-changer. This is where our true coffee journey really
                began.
            </p>

            <h3 class="weigh-bold font-serif">Fast Forward Today</h3>
            <p>
                A year went by, upgraditis kicked in, and after another round of endless hours online and consulting friends, we purchased
                our current machine: <a href="/posts/personal/lever-experience">Profitec 800</a>. Aside from astonishing looks, this machine provides
                an amazing experience. Thanks to this machine I expanded the variety of different kinds of beans I drink and generally started to 
                apprecaite espresso even more. 

            </p>
            <p>
Meanwhile, I'm learning a bunch, and I hope I'll be able to transform
                some of my passion and knowledge back to the community, to you.
            </p>
        </div>
        <div class="image-wrapper region">
            <img
                src="/assets/myself.jpg"
                alt="Myself with my beloved Pro 800"
            />
        </div>
    </div>
</section>

<style lang="scss">

    .about {
        max-width: 45rem;
        margin-inline: auto;
    }

    .about > * {
        --flow-space: 1em;
    }

    h1 {
        max-width: 45rem;
        margin: 0 auto;
    }

    .image-wrapper {
        width: 100%;
        height: 360px;
        @media screen and (min-width: 768px) {
            height: 660px;
        }
    }

    img {
        object-fit: fit;
        width: auto;
        margin: 0 auto;
        height: 100%;
        border-radius: 12px;
    }
</style>
