<section>
    <h2>About The Borista Experience</h2>
    <div class="wrap">
        <div class="image-wrapper">
            <img
                src="/assets/myself.jpg"
                alt="Myself with my beloved Pro 800"
            />
        </div>
        <div class="about-text">
            <p>
                Our coffee journey started as merely a coincidence that has
                progressed into genuine appreciation of coffee in its various
                (not all) forms. Like many, we were used to instant coffee at
                home and some cappuccinos and lattes at the coffee shop.
                Receiving a Nespresso Latissima Touch machine from my mother,
                has set us on a rather expensive but worthwhile path.
            </p>
            <p>
                Although Nespresso has really upped our coffee experience at
                home, it has never fully met our expectations. We wanted coffee
                like it was served in coffee shops, and it was never even close.
                Thankfully, after a while, we had to replace our machine and
                decided on full hands-on experience, and purhcased Gaggia
                Classic Pro along with a dedicated grinder. This is where our
                true path has began.
            </p>

            <p>
                We became truly interested in coffee, its origins, various
                brewing methods, roasting differences, etc.
                <br />
                We are still learning a lot. Gathering knowledge, reading, and most
                importantly, experiencing.
            </p>

            <p>
                We hope you'll find value in the information we share, as well
                as in our experience along the way.
            </p>
        </div>
    </div>
</section>

<style lang="scss">
    section {
    }

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: start;
        @media screen and (min-width: 560px) {
            flex-direction: row;
        }
        gap: 20px;
    }

    .about-text {
        p {
            margin-top: 0;
        }
        width: 66%;
        @media screen and (max-width: 560px) {
            width: 100%;
        }
    }

    .image-wrapper {
        width: 33%;
        border-radius: 12px;
        @media screen and (max-width: 560px) {
            width: 100%;
            height: 400px;
        }
    }

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
</style>
