<section>
    <h2>About The Borista Experience</h2>
    <div class="wrap">
        <div class="image-wrapper">
            <img
                src="/assets/myself.jpg"
                alt="Myself with my beloved Pro 800"
            />
        </div>
        <div class="about-text">
            <p>
                My love affair with coffee began quite unexpectedly and has
                since grown into a genuine appreciation of coffee as a beverage,
                as culture, history, community and its impact on our health and
                wellbeing. Like many, I used to settle for instant coffee at
                home and cappuccinos occassionally at the coffee shop. However,
                everything changed when my mother gifted me and my wife a
                Nespresso Latissima Touch - it's been a bit of a splurge since,
                but totally worth it!
            </p>
            <p>
                While our Nespresso machine certainly improved our home coffee
                game, it never quite lived up to our expectations. We craved
                that same coffee shop quality that we just couldn't seem to
                replicate. After a while, we had to replace our machine and
                decided to take things to the next level by going fully
                hands-on. We invested in a Gaggia Classic Pro machine along with
                a dedicated grinder, and let me tell you, it's been a
                game-changer. This is where our true coffee journey really
                began.
            </p>

            <p>
                As time went, I became more interested in coffee and its
                origins, the different brewing methods, and the nuances of
                roasting, although I haven't played with it just yet.
                <br />
                The most vital thing is I'm learning a bunch, there are tons of great
                knowledgable people around the web to learn from.
            </p>
            <p>
                I hope I'll be able to transform what I learn into valuable,
                digestible pieces of information for you.
            </p>
        </div>
    </div>
</section>

<style lang="scss">
    section {
    }

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: start;
        @media screen and (min-width: 560px) {
            flex-direction: row;
        }
        gap: 20px;
    }

    .about-text {
        p {
            margin-top: 0;
        }
        width: 66%;
        @media screen and (max-width: 560px) {
            width: 100%;
        }
    }

    .image-wrapper {
        width: 33%;
        height: 40vh;
        border-radius: 12px;
        box-shadow: 8px 8px 0px var(--theme-bg-accent);
        /* max-height: 420px; */
        @media screen and (max-width: 560px) {
            width: 100%;
            max-height: 400px;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
</style>
