<section>
  <div class="about-photo">
    <img src="" alt="">
  </div>
  <div class="about-text">
    <h2>About The Borista Experience</h2>

    <p>
      Our coffee journey started as merely a coincidence that has progressed
      into genuine appreciation of coffee in its various (not all) forms. Like
      many, we were used to instant coffee at home and some cappuccinos and
      lattes at the coffee shop. Receiving a Nespresso Latissima Touch machine
      from my mother, has set us on a rather expensive but worthwhile path.
    </p>
    <p>
      Although Nespresso has really upped our coffee experience at home, it has
      never fully met our expectations. We wanted coffee like it was served in
      coffee shops, and it was never even close. Thankfully, after a while, we
      had to replace our machine and decided on full hands-on experience, and
      purhcased Gaggia Classic Pro along with a dedicated grinder. This is where
      our true path has began.
    </p>

    <p>
      We became truly interested in coffee, its origins, various brewing
      methods, roasting differences, etc.
      <br />
      We are still learning a lot. Gathering knowledge, reading, and most importantly,
      experiencing.
    </p>

    <p>
      We hope you'll find value in the information we share, as well as in our
      experience along the way.
    </p>
  </div>
</section>


<style>
    section {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 560px) {
            flex-direction: row;
        }
    }

</style>