<footer>
    <div class="">
        
    </div>
    <p>© 2022 Baristas. All Rights Reserved.
        We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn commissions by linking to Amazon.com and affiliated sites.
    </p>
</footer>

<style>
    footer {
        text-align: center;
        background: var(--theme-bg-paper);
        color: var(--theme-text);
        margin-top: auto;
    }

    p {
        font-size: .925rem;
        padding-inline: 20px;
        padding-block: 1em;
        @media screen and (min-width: 768px) {
            padding-inline: 20ch;
            padding-block: 20px;
            margin: 0;
            font-size: .825rem;
        }

    }



</style>