<header class="bg-primary">
    <div class="wrapper">
        <div class="logo">
            <a href="/" class="logo">
                <!--
                <img src="/Logo.png" alt="logo" />
                -->
                <span class="font-serif">
                    DRIPPING <span class="weight-normal">COFFEE</span>
                </span>
            </a>
        </div>

        <nav class="nav [ weight-bold ]">
            <div class="burger-menu">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>

            <div class="menu text-500 font-serif">
                <a class="active" href="/">Home</a>
                <a href="/blog/">Articles</a>
                <a href="/machines/">Machines</a>
                <a href="/about/">About</a>
                <a href="/contact/">Contact</a>
            </div>
        </nav>
    </div>
</header>

<style lang="scss">
    header {
        /* background-color: var(--color-light-shade); */
        display: flex;
        align-items: center;
        height: 66px;
    }

    header div {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width: 46em) {
        nav {
            opacity: 1;
        }
    }

    nav {
        display: flex;
        /* margin-left: 100px; */
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        /* display: none; */
    }

    a:not(.logo) {
        text-decoration: none;
        display: inline-flex;
        color: var(--color-dark);
        padding: 0 15px;
        transition: all 0.3s ease-out;
    }

    .menu.open a {
        color: white;
    }

    a:focus {
        outline: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .logo {
        width: 140px;
        img {
            object-fit: contain;
        }
        span {
            text-decoration: underline;
        }
        a:hover {
            color: inherit;
        }

        .weight-normal {
            font-weight: 400 !important;
        }
    }

    // NAVBAR specifically
    .burger-menu {
        display: flex;
        flex-direction: column;
        height: 20px;
        cursor: pointer;

        @media screen and (min-width: 46em) {
            display: none !important;
        }
    }

    .burger-menu.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .line {
        width: 25px;
        height: 3px;
        background-color: black;
        height: 3px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }

    .menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 60px;
        transform: scale(1, 1);
        /* display: none !important; */
        opacity: 0;
        align-items: center;
        @media screen and (min-width: 46em) {
            position: static;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            opacity: 1;
        }
    }

    .menu.open {
        /* display: flex !important; */
        opacity: 1;
        transform: scale(1, 1);
        opacity: 1;
        left: 0;
        top: 66px;
        gap: 0;
        width: 100%;
        /* background-color: #662929; */
        background-color: var(--color-dark);
        z-index: 1;
        transition: all 0.3s;

        a {
            padding: 10px 0;
        }
    }
</style>

<script>
    const burgerMenu = document.querySelector(".burger-menu");
    const menu = document.querySelector(".menu");

    burgerMenu?.addEventListener("click", () => {
        menu?.classList.toggle("open");
        burgerMenu.classList.toggle("active");
    });
</script>
