<header >
	<div class="container">
		<div class="logo">
			<img src="/Logo.png" alt="logo">
		</div>
		<nav class="nav">
			<a class="active" href="/">Home</a>
			<!-- <a href="/">Coffee & Health</a>
			<a href="/">Tips</a> -->
			<a href="/about">About</a>
		</nav>
	</div>
</header>

<style lang="scss">
	header {
		background-color: rgb(var(--color-beige-rgb));
	}

	header div {
		display: flex;
		justify-content: center;
	}

	@media screen and (min-width: 40em) {
		nav {
			opacity: 1;
		}
	}

	nav {
		display: flex;
		margin-left: 100px;
		justify-content: space-between;
		gap: 60px;
		display: none;
	}

	a {
		text-decoration: none;
		display: inline-flex;
		color: var(--theme-text);
		font-size: 1rem;
		padding: 30px 15px;
		transition: all 0.1s ease-in-out;
	}

	a:focus {
		outline: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.logo {
		width: 140px;
		img {
			object-fit: contain;
		}
	}


</style>
