---
import { Image } from 'astro:assets';
import { HERO_TITLE, HERO_SUBTITLE, HERO_BG_IMG } from "../config";

const { title, subtitle } = Astro.props;
---

<section class="[ region ] md:h-[800px] flex flex-col justify-center px-2 md:px-16 md:!items-start !items-center">
    <div class="opacity-30 bg-[#232323] top-0 left-0 right-0 bottom-0 absolute mix-blend-darken -z-10"></div>
    <div class="bg-[#232323] top-0 left-0 right-0 bottom-0 absolute mix-blend-darken">
        <img 
            src={HERO_BG_IMG} alt="" 
           class="opacity-45 object-cover object-center w-full h-full" />
    </div>

    <div class="flow z-10 text-center md:text-start flex flex-col items-center md:items-start" style="--flow-space:1rem">
        <h1 class="serif text-5xl md:!text-[84px]">LEVERAGE YOUR COFFEE EXPERIENCE</h1>
        <p class="text-neutral-200 ">Curation of the most interesting coffee related stuff. The best espresso machines, the best recipes, the best coffee accessories and more! From time to time, I share my personal experience with my beloved Profitec 800.</p>
        <p class="text-neutral-200 ">I created an index of espresso machines where you can look for technical info & reviews.</p>
        <div class="card-actions">
            <a href="/machines/" class="block">
                <button class="btn btn-info text-white text-md tracking-wider">
                        Machines
                </button>
            </a>
            <a href="/machines/profitec-pro-700-drive/" class="block">
                <button class="btn btn-info text-white text-md tracking-wider">
                        Profitec Drive <span class="badge badge-error badge-sm text-xs small">NEW</span>
                </button>
            </a>
        </div>
    </div>

</section>

<style lang="scss">
    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .overlayy {
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-blend-mode: darken;
        z-index: -1;
    }

    h1 {
        color: var(--color-light);
        line-height: var(--lh160);
        font-size: var(--step-3);
    }

    p {
        color: var(--color-light) !important;
        font-size: var(--step--1);
        line-height: var(--lh140);
    }

    picture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        background-color: rgba(18, 18, 18, 0.8);
    }

    picture img {
        opacity: 0.45;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

</style>

