---
import { HERO_TITLE, HERO_SUBTITLE, HERO_BG_IMG } from '../config';
---

<section>
    <picture>
        <img src={HERO_BG_IMG} alt="">
    </picture>
    <h1>
        {HERO_TITLE}
    </h1>
    <p>
        {HERO_SUBTITLE}
    </p>
    <!-- <button>
        Explore Reviews
    </button> -->
</section>

<style>
    section {
        position: relative;
        transition: all 300ms;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 450px;
    }

    h1 {
        color: #fff;
        font-size: 40px;
    }
    p {
        color: #f9f9f9;
    }

    button {
        padding: 10px 20px;
        border-radius: 8px;
        width: 200px;
        margin: 0 auto;
        box-shadow: 4px 4px 0 rgba(210, 80, 80, 1);
        transition: all 300ms;
        cursor: pointer;
    }

    button:hover {
        box-shadow: 4px 4px 0 rgba(40, 40, 80, 1);
    }

    picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        background-color: rgba(18,18,18, 0.8);
    }

    picture img {
        opacity: 0.45;
        object-fit: cover;
        width: 100%;
        max-height: 450px;
    }

</style>