---
import { Image, Picture } from '@astrojs/image/components';
import { HERO_TITLE, HERO_SUBTITLE, HERO_BG_IMG } from "../config";

const { title, subtitle } = Astro.props;
---

<section class="[ region ]">
    <div class="overlay bg-primary"></div>
    <picture>
        <Image class="pic" format={'webp'} fit={'cover'} src={HERO_BG_IMG} alt="Picture of me next to my Profitec 800" width={1200} aspectRatio={'6:1'} />
    </picture>
    <h1 class="tac">
        {title || HERO_TITLE}
    </h1>
    <p class="tac prose">
        {subtitle || HERO_SUBTITLE}
    </p>
</section>

<style lang="scss">
    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .overlay {
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-blend-mode: darken;
        z-index: -1;
    }

    h1 {
        color: var(--color-light);
        line-height: var(--lh160);
        font-size: var(--step-3);
    }

    p {
        color: var(--color-light) !important;
        font-size: var(--step--1);
        line-height: var(--lh140);
    }

    picture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
        background-color: rgba(18, 18, 18, 0.8);
    }

    picture img {
        opacity: 0.15;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

</style>

