---
const { machineOne, machineTwo } = Astro.props;
---

<section class="[ region ]">
  <table>
    <thead>
      <tr>
        <td>Property</td>
        <td>{machineOne.model}</td>
        <td>{machineTwo.model}</td>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</section>
