---
const sectionTitle = Astro.props.sectionTitle;
---

<div class="[wrapper] ">
  <div class="section-title tac">
    <h2 class="tac">
        <span>{sectionTitle}</span>
    </h2>
  </div>
</div>

<style lang="scss">
.section-title {
    display: block;
    position: relative;
    margin-bottom: var(--space-s);

    h2 {
        font-size: 50px;
        margin-bottom: 20px;
        line-height: 1.5;
        color: #000;
        margin-inline: auto;
        text-align: center;
    }


    @media screen and (max-width: 568px) {
        h2 {
            font-size: 30px;
        }
    }
}

</style>
