.sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-gutter ,clamp(1.09rem,1rem + .47vw,1.33rem))
}

.sidebar > * {
    flex-grow: 1;
    flex-basis: var(--sidebar-width ,16rem)
}

.sidebar > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(70% - var(--sidebar-gutter,clamp(1.09rem,1rem + .47vw,1.33rem)))
}
